AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
S3_REGION=ap-south-1
S3_BUCKET_NAME=your_s3_bucket_name
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/forjeX
PORT=3000
JWT_SECRET_KEY=generate_a_strong_256bit_random_secret_here
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GEMINI_API_KEY=your_gemini_api_key
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
